@charset "UTF-8";
@import "variables";
@import "mixins";

::selection {
  // background-color: $background-color;
  background-color: $background-color;
  color: $primary-color;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $background-color;
  position: relative;
}

.primary-color {
  background-color: $primary-color;
}
.text_accent {
  font-family: $title-accent-font !important;
}

// 2번 이상 반복되는 레이아웃
.inner {
  margin: 0 set-margin-width(large);
  transition: margin 0.3s ease-in-out;

  @include tablet {
    margin: 0 set-margin-width(medium);
  }

  @include mobile {
    margin: 0 set-margin-width(small);
  }
}

.cation_wrapper {
  @include caption-design;
  @include tablet {
    .caption_inner {
      width: 50%;
    }
  } 
  @include mobile {
    .caption_inner {
      padding: 1.5rem 0;
      width: 80%;
    }
  }
}
