@import "./variables";

// breakpoint
@mixin tablet {
  // min-width: 769px
  // max-width: 1024px
  @media (min-width: #{$breakpoint-mobile + 1px}) and (max-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin mobile {
  // max-width: 768px
  @media (max-width: #{$breakpoint-mobile}) {
    @content;
  }
}

// button
@mixin button-design {
  border: 1px solid $black-color;
  border-radius: 0.25rem;
  color: $black-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: set-text-size(medium);
  font-family: $body-font;
  font-weight: 500;
  letter-spacing: -0.01rem;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  transition: background-color 0.3s ease;
  @content;

  @include tablet {
    padding: 0.5rem 1.25rem;
    font-size: 0.875rem;
  }

  @include mobile {
    font-size: set-text-size(small);
  }
}

// caption
@mixin caption-design {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  @content;
  .caption_inner {
    background-color: $primary-color;
    width: 35%;
    border-radius: 5rem;
    transform: translateY(-50%);
    padding: 2rem 0;
    transition: all 0.3s ease-in-out;

    p {
      text-align: center;
      transform: translateY(-50%);
      color: $background-color;
      font-family: $body-font;
      line-height: 0;
    }
  }

  @include tablet {
    .caption_inner {
      padding: 1.5rem 0;
      width: 50%;
    }
  }
  @include mobile {
    .caption_inner {
      padding: 1.25rem 0;
      width: 80%;
    }
  }
}

// rotate_infinite
@mixin rotate-to-right {
  animation: infinite_rotate 10s linear infinite;
  transform-origin: 50% 50%;

  @keyframes infinite_rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin rotate-to-left {
  animation: infinite_rotate-to-left 10s linear infinite;
  transform-origin: 50% 50%;

  @keyframes infinite_rotate-to-left {
    100% {
      transform: rotate(-360deg);
    }
  }
}
