@import "./variables";

// breakpoint
@mixin desktop {
  // min-width: 1024px
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin tablet {
  // min-width: 768px
  // max-width: 1023px
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin mobile {
  // max-width: 767px
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
  }
}

// button
@mixin button-design {
  border: 1px solid $black-color;
  border-radius: 0.25rem;
  color: $black-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $small-body-font-size;
  font-family: $body-font;
  font-weight: 500;
  letter-spacing: -0.01rem;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  transition: background-color 0.3s ease;
  @content;
}

// caption
@mixin caption-design {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: center;

  .caption_inner {
    background-color: $primary-color;
    width: 50%;
    border-radius: 80px;
    transform: translateY(-35%);
    padding: 2rem 0;

    p {
      text-align: center;
      transform: translateY(-50%);
      color: $background-color;
      line-height: 0;
    }
  }
}
