//
// $breakpoint-desktop: 1024px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;

// margin
$margin-width-large: 4.375rem;
$margin-width-medium: 3.125rem;
$margin-width-small: 1.875rem;

$margin-height-large: 10rem;
$margin-height-small: 9rem;

// color
$black-color: #111111;
$background-color: #faf7f0;
$beige-200-color: #e3dacd;
$beige-500-color: #b5aea4;
$beige-700-color: #797774;
$primary-color: #5186ee;
$secondary-color: #e0f3cd;
$sub-color: #d0dcff;

// 폰트 스타일
$title-font: "Seawave", serif;
$title-accent-font: "NewYork", serif;
$body-font: "SUIT", sans-serif;

// 타이틀
$title-size-large: 8rem;
$title-size-small: 5rem;

// 본문
$text-size-large: 1.125rem;
$text-size-medium: 1rem;
$text-size-small: 0.75rem;
// set-text-size(large)
// set-text-size(medium)
// set-text-size(small)

$line-height: 1.5;

// margin width
@function set-margin-width($width) {
  @if $width == small {
    @return $margin-width-small;
  } @else if $width == medium {
    @return $margin-width-medium;
  } @else if $width == large {
    @return $margin-width-large;
  } @else {
    @error "Invalid margin width: #{$width}";
  }
}
// set-margin-width(large)

// margin height
@function set-margin-height($height) {
  @if $height == small {
    @return $margin-height-small;
  } @else if $height == large {
    @return $margin-height-large;
  } @else {
    @error "Invalid margin height: #{$height}";
  }
}
// set-margin-height(large)

// title font size
@function set-title-size($size) {
  @if $size == small {
    @return $title-size-small;
  } @else if $size == large {
    @return $title-size-large;
  } @else {
    @error "Invalid title size: #{$size}";
  }
}

// body font size
@function set-text-size($size) {
  @if $size == small {
    @return $text-size-small;
  } @else if $size == medium {
    @return $text-size-medium;
  } @else if $size == large {
    @return $text-size-large;
  } @else {
    @error "Invalid text size: #{$size}";
  }
}