@charset "UTF-8";

/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
$breakpoint-small: 767px;
$breakpoint-medium: 1023px;
$breakpoint-large: 1024px;

// margin
$marin-width-large: 70px;
$marin-width-medium: 50px;
$marin-width-small: 30px;

$margin-height-large: 10rem;
// $margin-height-large: 8vw;
$margin-height-small: 144px;

// color
$black-color: #111111;
$background-color: #faf7f0;
$beige-200-color: #e3dacd;
$beige-500-color: #b5aea4;
$beige-700-color: #797774;
$primary-color: #5186ee;
$secondary-color: #e0f3cd;
$sub-color: #d0dcff;

// font
$title-font: "Seawave", serif;
$title-accent-font: "NewYork", serif;
$body-font: "SUIT", sans-serif;

$title-font-size: 9vw;
// $title-font-size: 8rem;
// $small-title-font-size: 4.1667vw;
$small-title-font-size: 5rem;
$body-font-size: 1.125rem;
$small-body-font-size: 1rem;
$tag-font-size: 0.75rem;

$line-height: 1.5;

// button
@mixin button-design {
  border: 1px solid $black-color;
  border-radius: 0.25rem;
  color: $black-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $small-body-font-size;
  font-family: $body-font;
  font-weight: 500;
  letter-spacing: -0.01rem;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  @content;
}

// caption
@mixin caption-design {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: center;

  .caption_inner {
    background-color: $primary-color;
    width: 50%;
    border-radius: 80px;
    transform: translateY(-35%);
    padding: 2rem 0;

    p {
      text-align: center;
      transform: translateY(-50%);
      color: $background-color;
      line-height: 0;
    }
  }
}


::selection {
  background-color: $background-color;
  color: $primary-color;
}

body {
  background-color: $background-color;
}

.text_accent {
  font-family: $title-accent-font !important;
}

// 2번 이상 반복되는 레이아웃
.inner {
  margin: 0 $marin-width-large;
}

// header 시작
header {
  .inner {
    z-index: 999;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo {
      flex: 1 1 0;
      min-width: 8rem;
      height: 2rem;
      background: url(../img/logo.svg) no-repeat left;
      background-size: contain;
    }

    .hamburger {
      flex: 1 2 0;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;

      .hamburger_box {
        margin: 1.75rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 4rem;
        height: 0.5rem;
        cursor: pointer;

        .line {
          display: block;
          background-color: $black-color;
          width: 100%;
          height: 0.125rem;
          position: absolute;
          left: 0;
          transition: transform 0.5s ease-in-out;

          &-1 {
            top: 0;
          }
          &-2 {
            top: 100%;
          }
        }

        &.active {
          .line-1 {
            transform: translateY(0.25rem) translateX(0) rotate(45deg);
          }
          .line-2 {
            transform: translateY(-0.25rem) translateX(0) rotate(-45deg);
          }
        }
        &.active:hover {
          .line-1 {
            transform: translateZ(0) translateY(0.25rem) rotate(-135deg);
          }
          .line-2 {
            transform: translateZ(0) translateY(-0.25rem) rotate(-225deg);
          }
        }
      }
    }

    .darkmode {
      flex: 1 1 0;
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .checkbox {
        opacity: 0;
        position: absolute;
      }

      .checkbox_label {
        background-color: $background-color;
        border: 1px solid $black-color;
        border-radius: 1.5rem;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 3rem;
        height: 1.5rem;

        .ball {
          position: absolute;
          background-color: $black-color;
          width: 1rem;
          height: 1rem;
          left: 0.2rem;
          top: 0.2rem;
          border-radius: 50%;
          transition: transform 0.2s cubic-bezier(0, 1, 0.5, 1);
        }
      }

      .checkbox:checked + .checkbox_label {
        .ball {
          transform: translateX(1.5rem);
        }
      }
    }
  }
  .fullscreen_menu {
    width: 100%;
    background-color: $background-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    height: 100vh;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;

    .link_area {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      opacity: 0;
      -webkit-transition: 0.6s ease-in-out;
      transition: 0.6s ease-in-out;

      a {
        display: block;
        height: $title-font-size;
        position: relative;

        span {
          font-size: $title-font-size;
          color: $black-color;
          text-transform: uppercase;

          &.link_text {
            font-family: $body-font;
            font-weight: 200;
            letter-spacing: -0.1rem;
            transition: opacity 0.3s ease-in-out;
            opacity: 1;
          }
          &.arc {
            position: absolute;
            // top: 0;
            left: 0;
            font-family: $title-accent-font;
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          .arc {
            left: 0.5rem;
          }
        }
        &:hover {
          span {
            &.link_text {
              opacity: 0;
            }
            &.arc {
              opacity: 1;
            }
          }
        }
      }
    }

    .desc {
      font-family: $body-font;
      font-size: $body-font-size;
      font-weight: 400;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      position: absolute;
      bottom: 3rem;

      opacity: 0;
      -webkit-transition: 0.6s ease-in-out;
      transition: 0.6s ease-in-out;
    }

    &.on {
      visibility: visible;

      .link_area {
        opacity: 1;
      }

      .desc {
        opacity: 1;
      }
    }
  }
}
// header 끝

// main 시작
// visual 시작
.visual {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .visual_title {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin-top: -1em;
    }
    span {
      font-family: $title-font;
      font-size: $title-font-size;
    }
    .garden_wrap {
      display: flex;

      img {
        width: 8vw;
      }
    }
    .desc_wrap {
      display: flex;
      flex-direction: row;

      .of {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          border-radius: 50%;
          border: 1px solid $black-color;
          top: -0.5rem;
          bottom: -0.5rem;
          left: -1.5rem;
          right: -1.5rem;
        }
      }

      .desc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .desc_bracket {
          font-family: $body-font;
          color: $beige-700-color;
          font-weight: 200;
        }
        .desc_text {
          font-family: $body-font;
          font-size: $small-body-font-size;
          line-height: $line-height;
          text-align: center;
        }
      }
    }
    .name {
      color: $primary-color;
      margin-top: -0.5em;
    }
  }
  .tag {
    position: absolute;
    bottom: $marin-width-large;
    left: $marin-width-large;
    color: $primary-color;
    display: inline-flex;
    align-items: flex-start;
    gap: 2rem;

    span {
      font-family: $body-font;
      font-size: $tag-font-size;
      text-transform: capitalize;
    }
  }

  .scroll {
    position: absolute;
    bottom: $marin-width-large;
    right: $marin-width-large;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;

    .rounded_shape {
      position: relative;
      width: 4rem;
      height: 4rem;

      .scroll_flower {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  .para_wrap {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
    width: 100%;
    height: 100%;
    z-index: -1;

    .para_group {
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;

      .deco {
        // transform: translate3d(0, 0, -300px) scale(2);
        position: absolute;

        &-1 {
          top: 0;
          left: 15%;
        }
        &-2 {
          bottom: 0;
          right: 15%;
        }
      }
    }
  }
  .frame {
    border: 1px solid $primary-color;
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      border: 1px solid $primary-color;
      margin: 0.5rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
// visual 끝
// intro 시작
.intro {
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .cation_wrapper {
    @include caption-design;
  }

  .intro_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6vh;

    h3 {
      font-size: $small-title-font-size;
      color: $background-color;
    }

    .img_area {
      width: 60vw;
      // height: 22rem;
      padding-bottom: 30%;
      background: url(../img/intro_glasses.jpg) no-repeat bottom;
      background-size: cover;
    }

    .desc_area {
      color: $background-color;
      font-size: $body-font-size;
      font-family: $body-font;

      p {
        &:first-child {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
// intro 끝
// projects 시작
.projects {
  position: relative;
  margin-top: 4rem;
  border-top: 1px solid $primary-color;

  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid $primary-color;
    top: -1rem;
    left: 0;
    right: 0;
  }
  .inner {
    padding: $margin-height-large 0;
    .title {
      font-size: $small-title-font-size;
      font-family: $title-accent-font;
      margin-bottom: 6rem;
    }
    .project_nav {
      width: 100%;
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      // 모바일 필터 버튼 시작
      .mb_filter {
        display: none;
        width: 60%;
        height: 100%;

        .label {
          @include button-design;
          width: 100%;
          justify-content: space-between;

          h3 {
            font-size: $body-font-size;
            font-family: $body-font;
          }

          .more_btn {
            width: 1rem;
            height: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            span {
              display: block;
              background-color: $black-color;
              width: 100%;
              height: 0.125rem;
              position: relative;

              &:first-child {
                position: absolute;
                transform: rotate(90deg);
                transition: all 0.4s ease-in-out;
                // opacity: 1;
              }

              &.on:first-child {
                transform: rotate(0);
                opacity: 0;
              }
            }
          }
        }
        .option_list {
          display: none;
          background-color: $background-color;
          border: 1px solid $black-color;
          border-radius: 0.25rem;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.5rem;
          margin-top: 1rem;

          .option_item {
            padding: 0.5rem 1.5rem;
            &:hover {
              background-color: $beige-200-color;
            }
          }

          &.on {
            display: block;
          }
        }
      }
      // 모바일 필터 버튼 끝

      .filter {
        // display: none;
        display: flex;
        gap: 0.625rem;
        button {
          @include button-design;

          &.active {
            color: $background-color;
            background-color: $black-color;
          }
        }
      }

      .view {
        display: flex;
        gap: 0.625rem;
        button {
          @include button-design;
          padding: 0.625rem 1.5rem;

          &.active {
            color: $background-color;
            background-color: $black-color;
          }
        }
        .album {
          .circle_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 0.25rem;
            width: 1rem;
            height: 1rem;

            .circle {
              background-color: $background-color;
              width: 0.375rem;
              height: 0.375rem;
              border-radius: 50%;
            }
          }
        }

        .list {
          .line_wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 1rem;
            height: 1rem;

            .line {
              background-color: $black-color;
              width: 100%;
              height: 0.188rem;
            }
          }
        }
      }
    }

    .project_area {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 1.25rem;
      grid-row-gap: 3rem;
      margin-top: 2rem;

      .project_item {
        .img_wrap {
          display: block;
          position: relative;
          overflow: hidden;
          padding-bottom: 70%;

          .item_img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            vertical-align: top;
            transition: transform 0.6s ease-in-out;

            &.on {
              filter: blur(0.125rem);
            }
          }

          .img_hover {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($color: $black-color, $alpha: 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;
            opacity: 0;

            .more_link {
              position: absolute;
              display: flex;
              align-items: center;
              gap: 0.625rem;
              top: 1.25rem;
              left: 1.25rem;

              a {
                @include button-design;
                border: none;
                background-color: $background-color;
              }
            }
            .link {
              display: flex;
              align-items: center;
              gap: 0.75rem;
              padding: 0.5rem 1rem;

              img {
                transform: rotate(90deg);
                width: 1.5rem;
                height: 1.5rem;
              }
              span {
                color: $background-color;
                font-size: 1.5rem;
                font-family: $body-font;
                text-transform: uppercase;
              }
            }
          }

          &:hover {
            .item_img {
              transform: scale(1.05);
            }
            .img_hover {
              opacity: 1;
            }
          }
        }
        .projects_title {
          font-family: "Hatton";
          font-size: 2rem;
          margin: 1.5rem 0 1rem 0;
          text-transform: capitalize;
        }
        span {
          font-family: $body-font;
          font-size: $small-body-font-size;
          line-height: $line-height;
        }

        .projects_desc {
          color: $beige-500-color;
          display: flex;
          margin-top: 1rem;
          font-size: $small-body-font-size;

          .contribution {
            border-right: 1px solid $beige-500-color;
            margin-right: 1rem;
            padding-right: 1rem;
          }

          .keyword:not(:last-child) {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
// projects 끝
// graphics 시작
.graphics {
  padding-bottom: $margin-height-large;

  .sw_graphic {
    height: 100%;

    .graphic_top {
      margin: 0 $marin-width-large;
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: space-between;
      margin-bottom: 6rem;

      .title {
        font-size: $small-title-font-size;
        font-family: $title-accent-font;
      }

      .swiper_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 5rem;

        .button {
          width: 5rem;
          height: 100%;
          border-radius: 50%;
          border: 1px solid $black-color;
          position: static;

          svg {
            transform: rotate(-90deg);
            width: 2rem;
            height: 2rem;
            path {
              fill: $black-color;
            }
          }
        }

        .swiper-button-prev {
          margin-right: 0.5rem;

          svg {
            transform: scaleX(-1) rotate(90deg);
          }
        }
        .swiper-button-next {
          svg {
            transform: rotate(90deg);
          }
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
          display: none;
        }
      }
    }

    .swiper-wrapper {
      .swiper-slide {
        position: relative;
        height: auto;
        // width: 80%;

        &[aria-label="1 / 7"],
        &[aria-label="6 / 7"],
        &[aria-label="7 / 7"] {
          width: 280px !important;
        }

        &[aria-label="2 / 7"],
        &[aria-label="4 / 7"] {
          width: 430px !important;
        }

        &[aria-label="3 / 7"],
        &[aria-label="5 / 7"] {
          width: 580px !important;
        }

        img {
          // width: 100%;
          height: 100%;
        }
        .graphic {
          position: relative;
          height: 100%;
          overflow: hidden;

          .desc_area {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            background-color: rgba($color: $black-color, $alpha: 0.7);

            &:hover {
              opacity: 1;
            }

            span {
              font-size: $body-font-size;
              font-family: $body-font;
              color: $background-color;
            }
          }
        }

        .img_group {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-gap: 20px;

          .graphic:nth-child(1) {
            grid-column: 1 / 3;
          }
        }
      }
    }
  }
}

// graphics 끝
// goal 시작
.goal {
  position: relative;
  background-color: $secondary-color;
  width: 100%;
  // height: 100vh;
  height: 67.5rem;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-gap: clamp(2rem, 8vw, 10rem);
  align-items: center;
  padding: ($margin-height-large + 4rem) $margin-height-large $margin-height-large 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    background: url(../img/tree.svg) no-repeat;
    background-position: center;
    background-size: cover;
  }

  .cation_wrapper {
    @include caption-design;
    background-color: $beige-200-color;
    .caption_inner {
      background-color: $beige-200-color;
      p {
        color: $black-color;
      }
    }
  }

  .img_area {
    width: 100%;
    height: -webkit-fill-available;
    background: url(../img/goal_mine.jpg) no-repeat center;
    background-size: cover;

    img {
      // max-width: fit-content;
      width: 100%;
    }
  }

  .text_area {
    // margin: 0 $margin-height-large;
    width: 38rem;
    justify-self: center;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .goal_title {
      display: flex;
      flex-direction: column;
      align-items: center;

      > * {
        margin-top: -2rem;
      }

      p {
        font-size: clamp(6rem, $title-font-size, 8rem);
        // font-size: 8rem;
        font-family: $title-accent-font;
      }
      .what {
        align-self: baseline;
        padding-left: 3rem;
      }

      .can {
        align-self: flex-end;
        padding-right: 5.3rem;
      }
      .bloom_wrap {
        align-self: baseline;

        img {
          margin: -0.5rem -2rem;
        }
      }

      .next_wrap {
        align-self: stretch;
        justify-content: space-between;
        display: flex;

        img {
          margin-top: 1.75rem;
        }
      }
    }

    .desc_area {
      position: relative;
      margin-top: 2rem;
      padding-top: 2rem;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        border-top: 1px solid $primary-color;
        width: 40%;
      }

      span {
        font-family: $body-font;
        font-size: $body-font-size;
        line-height: $line-height;
        letter-spacing: -0.02rem;
      }
    }
  }
}
// goal 끝
// main 끝

// footer 시작
footer {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: auto 18.75rem 5rem;
  background-color: $primary-color;

  &::after {
    content: "";
    position: absolute;
    border: 1px solid $background-color;
    margin: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .footer_top {
    margin: auto $marin-width-large $margin-height-large;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-family: $title-font;
      color: $background-color;
      font-size: 14vw;
  
      .text_accent {
        color: $secondary-color;
      }
    }

    .go_top {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 1px solid $background-color;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .footer_link {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    align-items: center;
    margin: 0 1rem;
    border-top: 1px solid $background-color;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      &:not(:last-child) {
        border-right: 1px solid $background-color;
      }

      
    }

    .text_box {
      h3 {
        a {
          font-family: "Hatton";
          color: $background-color;
          font-size: 3vw;
        }
      }
    }
  }
  .bottom_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $marin-width-small ($marin-width-large - 10px);
    margin: 0 1rem;
    border-top: 1px solid $background-color;

    span {
      font-family: $body-font;
      font-size: $small-body-font-size;
      color: $background-color;
    }
  }
}
// footer 끝
