@charset "UTF-8";

/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
$breakpoint-small : 767px;
$breakpoint-medium : 1023px;
$breakpoint-large : 1024px;

// margin
$marin-width-large: 70px;
$marin-width-medium: 50px;
$marin-width-small: 30px;

$margin-height-large: 160px;
$margin-height-small: 144px;

// color
$black-color : #111111;
$background-color : #FAF7F0;
$beige-200-color : #E3DACD;
$beige-500-color : #B5AEA4;
$beige-700-color : #797774;
$primary-color : #5186EE;
$secondary-color : #E0F3CD;
$sub-color: #D0DCFF; 

// font
$title-font: "Seawave", serif;
$title-accent-font: "NewYork", serif;
$body-font: "SUIT", sans-serif;

$title-font-size: 9vw;
// $title-font-size: 8rem;
$small-title-font-size: 4.1667vw;
// $small-title-font-size: 5rem;
$body-font-size: 1.125rem;
$small-body-font-size: 1rem;
$tag-font-size: 0.75rem; 

$line-height: 1.5;

// button
@mixin button-design {
  border: 1px solid $black-color;
  border-radius: 50%;
  font-size: $small-body-font-size;
  color: $background-color;
}

body {
  background-color: $background-color;
}

.text_accent {
  font-family: $title-accent-font !important;
}

// 2번 이상 반복되는 레이아웃
.inner {
  margin: 0 $marin-width-large;
}

// header 시작
header {
  .inner {
    z-index: 999;
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo {
      flex: 1 1 0;
      min-width: 8rem;
      height: 2rem;
      background: url(../img/logo.svg) no-repeat left;
      background-size: contain;
    }

    .hamburger {
      flex: 1 2 0;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      
      .hamburger_box {
        margin: 1.75rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        width: 4rem;
        height: 0.5rem;
        cursor: pointer;

        .line {
          display: block;
          background-color: $black-color;
          width: 100%;
          height: 0.125rem;
          position: absolute;
          left: 0;
          transition: transform .5s ease-in-out;

          &-1 { top: 0;}
          &-2 { top: 100%;}
        }

        &.active {
          .line-1 {
            transform: translateY(0.25rem) translateX(0) rotate(45deg);
          }
          .line-2 {
            transform: translateY(-0.25rem) translateX(0) rotate(-45deg);
          }
        }
        &.active:hover {
          .line-1 {
              transform: translateZ(0) translateY(0.25rem) rotate(-135deg);
            }
          .line-2 {
            transform: translateZ(0) translateY(-0.25rem) rotate(-225deg);
          }
        }
      }
    }


    .darkmode {
      flex: 1 1 0;
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .checkbox {
        opacity: 0;
        position: absolute;
      }

      .checkbox_label {
        background-color: $background-color;
        border: 1px solid $black-color;
        border-radius: 1.5rem;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 3rem;
        height: 1.5rem;

        .ball {
          position: absolute;
          background-color: $black-color;
          width: 1rem;
          height: 1rem;
          left: 0.2rem;
          top: 0.2rem;
          border-radius: 50%;
          transition: transform 0.2s cubic-bezier(0, 1, 0.5, 1);
        }
      }

      .checkbox:checked+.checkbox_label{
        .ball{
          transform: translateX(1.5rem);
        }
      }
    }
  }
  .fullscreen_menu {
    width: 100%;
    background-color: $background-color;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    height: 100vh;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    -webkit-transition: .6s ease-in-out;
    transition: .6s ease-in-out;
    
    .link_area {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      opacity: 0;
      -webkit-transition: .6s ease-in-out;
      transition: .6s ease-in-out;

      a {
        display: block;
        height: $title-font-size;
        position: relative;

        span {
          font-size: $title-font-size;
          color: $black-color;
          text-transform: uppercase;
          
          &.link_text {
            font-family: $body-font;
            font-weight: 200;
            letter-spacing: -0.1rem;
            transition: opacity 0.3s ease-in-out;
            opacity: 1;
          }
          &.arc {
            position: absolute;
            // top: 0;
            left: 0;
            font-family: $title-accent-font;
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
          }
        }

        &:nth-child(1),
        &:nth-child(2) {
          .arc {
            left: 0.5rem;
          }
        }
        &:hover {
          span {
            &.link_text {
              opacity: 0;
            }
            &.arc {
              opacity: 1;
            }
          }
        }
      }
      
    }

    .desc {
      font-family: $body-font;
      font-size: $body-font-size;
      font-weight: 400;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      position: absolute;
      bottom: 3rem;

      opacity: 0;
      -webkit-transition: .6s ease-in-out;
      transition: .6s ease-in-out;
    }

    &.on {
      visibility: visible;

      .link_area {
        opacity: 1;
      }

      .desc {
        opacity: 1;

      }
    }
  }
}
// header 끝

// main 시작
// visual 시작
.visual {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .visual_title {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>* {
      margin-top: -0.3em;
    }
    span {
      font-family: $title-font;
      font-size: $title-font-size;
    }
    .garden_wrap {
      display: flex;

      img {
        width: 8vw;
      }
    }
    .desc_wrap {
      display: flex;
      flex-direction: row;
      .desc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .desc_bracket{
          font-family: $body-font;
          color: $beige-700-color;
          font-weight: 200;
        }
        .desc_text {
          font-family: $body-font;
          font-size: $small-body-font-size;
          line-height: $line-height;
          text-align: center;
        }
      }
    }
    .name {
      color: $primary-color;
    }
  }
  .tag {
    position: absolute;
    bottom: $marin-width-large;
    left: $marin-width-large;
    color: $primary-color;
    display: inline-flex;
    align-items: flex-start;
    gap: 2rem;

    span {
      font-family: $body-font;
      font-size: $tag-font-size;
      text-transform: capitalize;
    }
  }

  .scroll {
    position: absolute;
    bottom: $marin-width-large;
    right: $marin-width-large;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;

    .rounded_shape {
      position: relative;
      width: 4rem;
      height: 4rem;

      .scroll_flower {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  .para_wrap {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    .para_group {
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;

      .deco {
        // transform: translate3d(0, 0, -300px) scale(2);
        position: absolute;

        &-1 {
          top: 0;
          left: 15%;
        }
        &-2 {
          bottom: 0;
          right: 15%;
        }
      }
    }

  }
  .frame {
    border: 1px solid $primary-color;
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: -1;
    
    &::before {
      content: '';
      position: absolute;
      border: 1px solid $primary-color;
      margin: 0.25rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
// visual 끝
// intro 시작
.intro {
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .cation_wrapper {
    position: absolute;
    top: 0;
    // left: 0;
    // right: 0;
    width: 100%;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    
    .caption_inner {
      background-color: $primary-color;;
      width: 50%;
      border-radius: 80px;
      transform: translateY(-35%);
      padding: 2rem 0;
      
      p {
        text-align: center;
        transform: translateY(-50%);
        color: $background-color;
        line-height: 0;        
      }
    }
  }
  .intro_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6vh;

    h3 {
      font-size: $small-title-font-size;
      color: $background-color;
    }

    .img_area {
      width: 60vw;
      height: 22rem;
      background-color: #fff;
    }

    .desc_area {
      color: $background-color;
      font-size: $body-font-size;
      font-family: $body-font;

      p {
        &:first-child {
          margin-bottom: 1rem;
        }
      }
    }
  }

}
// intro 끝
// projects 시작

// projects 끝
// main 끝

// footer 시작
footer {
  width: 100%;
  height: 100vh;
  background-color: $beige-700-color;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    border: 1px solid $background-color;
    margin: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .footer_link {
    display: flex;
    margin: 0 1rem;

    .link_area {
      display: flex;
    }

  }
  .bottom_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $marin-width-small ($marin-width-large - 10px);
    margin: 0 1rem;
    border-top: 1px solid $background-color;

    span {
      font-family: $body-font;
      font-size: $small-body-font-size;
      color: $background-color;
    }
  }
}
// footer 끝







