@charset "UTF-8";
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
.text_accent {
  font-family: "NewYork", serif;
}

body {
  background-color: #FAF7F0;
}

header .inner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 70px;
  z-index: 2;
}
header .inner .logo {
  flex: 1 1 0;
  min-width: 8rem;
  height: 2rem;
  background: url(../img/logo.svg) no-repeat left;
  background-size: contain;
}
header .inner .hamburger {
  flex: 1 2 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
}
header .inner .hamburger .hamburger_box {
  margin: 1.75rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 4rem;
  height: 0.5rem;
  cursor: pointer;
}
header .inner .hamburger .hamburger_box .line {
  display: block;
  background-color: #111111;
  width: 100%;
  height: 0.125rem;
  position: absolute;
  left: 0;
  transition: transform 0.5s ease-in-out;
}
header .inner .hamburger .hamburger_box .line-1 {
  top: 0;
}
header .inner .hamburger .hamburger_box .line-2 {
  top: 100%;
}
header .inner .hamburger .hamburger_box.active .line-1 {
  transform: translateY(0.25rem) translateX(0) rotate(45deg);
}
header .inner .hamburger .hamburger_box.active .line-2 {
  transform: translateY(-0.25rem) translateX(0) rotate(-45deg);
}
header .inner .hamburger .hamburger_box.active:hover .line-1 {
  transform: translateZ(0) translateY(0.25rem) rotate(-135deg);
}
header .inner .hamburger .hamburger_box.active:hover .line-2 {
  transform: translateZ(0) translateY(-0.25rem) rotate(-225deg);
}
header .inner .darkmode {
  flex: 1 1 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .inner .darkmode .checkbox {
  opacity: 0;
  position: absolute;
}
header .inner .darkmode .checkbox_label {
  background-color: #FAF7F0;
  border: 1px solid #111111;
  border-radius: 1.5rem;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 3rem;
  height: 1.5rem;
}
header .inner .darkmode .checkbox_label .ball {
  position: absolute;
  background-color: #111111;
  width: 1rem;
  height: 1rem;
  left: 0.2rem;
  top: 0.2rem;
  border-radius: 50%;
  transition: transform 0.2s cubic-bezier(0, 1, 0.5, 1);
}
header .inner .darkmode .checkbox:checked + .checkbox_label .ball {
  transform: translateX(1.5rem);
}
header .fullscreen_menu {
  width: 100%;
  height: 100vh;
  background-color: #E3DACD;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .fullscreen_menu .link_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
header .fullscreen_menu .link_area a {
  display: block;
  height: 8rem;
}
header .fullscreen_menu .link_area a span {
  font-size: 8rem;
  font-family: "SUIT", sans-serif;
  color: #111111;
  letter-spacing: -0.1rem;
  font-weight: 200;
  text-transform: uppercase;
}
header .fullscreen_menu .link_area a span:hover {
  font-family: "Seawave", serif;
}
header .fullscreen_menu .desc {
  font-family: "SUIT", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 3rem;
}/*# sourceMappingURL=style.css.map */