@charset "UTF-8";

/*
 * :root {
 *   --primary-color: #5186ee;
 *   --secondary-color: #e0f3cd;
 *   --sub-color: #d0dcff;
 * }
 */

@import "./variables";
@import "./mixins";

@import "./base";

@import "./layout/header";
@import "./layout/visual";
@import "./layout/intro";
@import "./layout/works";
@import "./layout/graphics";
@import "./layout/goal";
@import "./layout/footer";

