@charset "UTF-8";
/*반응형 화면 크기*/
/*반응형, 브라우저 크기가 767px 이하일때*/
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
::-moz-selection {
  background-color: #faf7f0;
  color: #5186ee;
}
::selection {
  background-color: #faf7f0;
  color: #5186ee;
}

body {
  background-color: #faf7f0;
}

.text_accent {
  font-family: "NewYork", serif !important;
}

.inner {
  margin: 0 70px;
}

header .inner {
  z-index: 999;
  position: fixed;
  top: 3rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .inner .logo {
  flex: 1 1 0;
  min-width: 8rem;
  height: 2rem;
  background: url(../img/logo.svg) no-repeat left;
  background-size: contain;
}
header .inner .hamburger {
  flex: 1 2 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
}
header .inner .hamburger .hamburger_box {
  margin: 1.75rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 4rem;
  height: 0.5rem;
  cursor: pointer;
}
header .inner .hamburger .hamburger_box .line {
  display: block;
  background-color: #111111;
  width: 100%;
  height: 0.125rem;
  position: absolute;
  left: 0;
  transition: transform 0.5s ease-in-out;
}
header .inner .hamburger .hamburger_box .line-1 {
  top: 0;
}
header .inner .hamburger .hamburger_box .line-2 {
  top: 100%;
}
header .inner .hamburger .hamburger_box.active .line-1 {
  transform: translateY(0.25rem) translateX(0) rotate(45deg);
}
header .inner .hamburger .hamburger_box.active .line-2 {
  transform: translateY(-0.25rem) translateX(0) rotate(-45deg);
}
header .inner .hamburger .hamburger_box.active:hover .line-1 {
  transform: translateZ(0) translateY(0.25rem) rotate(-135deg);
}
header .inner .hamburger .hamburger_box.active:hover .line-2 {
  transform: translateZ(0) translateY(-0.25rem) rotate(-225deg);
}
header .inner .darkmode {
  flex: 1 1 0;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .inner .darkmode .checkbox {
  opacity: 0;
  position: absolute;
}
header .inner .darkmode .checkbox_label {
  background-color: #faf7f0;
  border: 1px solid #111111;
  border-radius: 1.5rem;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 3rem;
  height: 1.5rem;
}
header .inner .darkmode .checkbox_label .ball {
  position: absolute;
  background-color: #111111;
  width: 1rem;
  height: 1rem;
  left: 0.2rem;
  top: 0.2rem;
  border-radius: 50%;
  transition: transform 0.2s cubic-bezier(0, 1, 0.5, 1);
}
header .inner .darkmode .checkbox:checked + .checkbox_label .ball {
  transform: translateX(1.5rem);
}
header .fullscreen_menu {
  width: 100%;
  background-color: #faf7f0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.6s ease-in-out;
}
header .fullscreen_menu .link_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  opacity: 0;
  transition: 0.6s ease-in-out;
}
header .fullscreen_menu .link_area a {
  display: block;
  height: 9vw;
  position: relative;
}
header .fullscreen_menu .link_area a span {
  font-size: 9vw;
  color: #111111;
  text-transform: uppercase;
}
header .fullscreen_menu .link_area a span.link_text {
  font-family: "SUIT", sans-serif;
  font-weight: 200;
  letter-spacing: -0.1rem;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
header .fullscreen_menu .link_area a span.arc {
  position: absolute;
  left: 0;
  font-family: "NewYork", serif;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
header .fullscreen_menu .link_area a:nth-child(1) .arc, header .fullscreen_menu .link_area a:nth-child(2) .arc {
  left: 0.5rem;
}
header .fullscreen_menu .link_area a:hover span.link_text {
  opacity: 0;
}
header .fullscreen_menu .link_area a:hover span.arc {
  opacity: 1;
}
header .fullscreen_menu .desc {
  font-family: "SUIT", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  position: absolute;
  bottom: 3rem;
  opacity: 0;
  transition: 0.6s ease-in-out;
}
header .fullscreen_menu.on {
  visibility: visible;
}
header .fullscreen_menu.on .link_area {
  opacity: 1;
}
header .fullscreen_menu.on .desc {
  opacity: 1;
}

.visual {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visual .visual_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.visual .visual_title > * {
  margin-top: -1em;
}
.visual .visual_title span {
  font-family: "Seawave", serif;
  font-size: 9vw;
}
.visual .visual_title .garden_wrap {
  display: flex;
}
.visual .visual_title .garden_wrap img {
  width: 8vw;
}
.visual .visual_title .desc_wrap {
  display: flex;
  flex-direction: row;
}
.visual .visual_title .desc_wrap .of {
  position: relative;
}
.visual .visual_title .desc_wrap .of::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid #111111;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -1.5rem;
  right: -1.5rem;
}
.visual .visual_title .desc_wrap .desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.visual .visual_title .desc_wrap .desc .desc_bracket {
  font-family: "SUIT", sans-serif;
  color: #797774;
  font-weight: 200;
}
.visual .visual_title .desc_wrap .desc .desc_text {
  font-family: "SUIT", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}
.visual .visual_title .name {
  color: #5186ee;
  margin-top: -0.5em;
}
.visual .tag {
  position: absolute;
  bottom: 70px;
  left: 70px;
  color: #5186ee;
  display: inline-flex;
  align-items: flex-start;
  gap: 2rem;
}
.visual .tag span {
  font-family: "SUIT", sans-serif;
  font-size: 0.75rem;
  text-transform: capitalize;
}
.visual .scroll {
  position: absolute;
  bottom: 70px;
  right: 70px;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.125rem;
}
.visual .scroll .rounded_shape {
  position: relative;
  width: 4rem;
  height: 4rem;
}
.visual .scroll .rounded_shape .scroll_flower {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visual .scroll .rounded_shape .scroll_flower img {
  width: 1rem;
  height: 1rem;
}
.visual .para_wrap {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.visual .para_wrap .para_group {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}
.visual .para_wrap .para_group .deco {
  position: absolute;
}
.visual .para_wrap .para_group .deco-1 {
  top: 0;
  left: 15%;
}
.visual .para_wrap .para_group .deco-2 {
  bottom: 0;
  right: 15%;
}
.visual .frame {
  border: 1px solid #5186ee;
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: -1;
}
.visual .frame::before {
  content: "";
  position: absolute;
  border: 1px solid #5186ee;
  margin: 0.5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.intro {
  width: 100%;
  height: 100vh;
  background-color: #5186ee;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro .cation_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #5186ee;
  display: flex;
  justify-content: center;
}
.intro .cation_wrapper .caption_inner {
  background-color: #5186ee;
  width: 50%;
  border-radius: 80px;
  transform: translateY(-35%);
  padding: 2rem 0;
}
.intro .cation_wrapper .caption_inner p {
  text-align: center;
  transform: translateY(-50%);
  color: #faf7f0;
  line-height: 0;
}
.intro .intro_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 6vh;
}
.intro .intro_area h3 {
  font-size: 5rem;
  color: #faf7f0;
}
.intro .intro_area .img_area {
  width: 60vw;
  padding-bottom: 30%;
  background: url(../img/intro_glasses.jpg) no-repeat bottom;
  background-size: cover;
}
.intro .intro_area .desc_area {
  color: #faf7f0;
  font-size: 1.125rem;
  font-family: "SUIT", sans-serif;
}
.intro .intro_area .desc_area p:first-child {
  margin-bottom: 1rem;
}

.projects {
  position: relative;
  margin-top: 4rem;
  border-top: 1px solid #5186ee;
}
.projects::before {
  content: "";
  position: absolute;
  border-top: 1px solid #5186ee;
  top: -1rem;
  left: 0;
  right: 0;
}
.projects .inner {
  padding: 10rem 0;
}
.projects .inner .title {
  font-size: 5rem;
  font-family: "NewYork", serif;
  margin-bottom: 6rem;
}
.projects .inner .project_nav {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.projects .inner .project_nav .mb_filter {
  display: none;
  width: 60%;
  height: 100%;
}
.projects .inner .project_nav .mb_filter .label {
  border: 1px solid #111111;
  border-radius: 0.25rem;
  color: #111111;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "SUIT", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01rem;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  width: 100%;
  justify-content: space-between;
}
.projects .inner .project_nav .mb_filter .label h3 {
  font-size: 1.125rem;
  font-family: "SUIT", sans-serif;
}
.projects .inner .project_nav .mb_filter .label .more_btn {
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.projects .inner .project_nav .mb_filter .label .more_btn span {
  display: block;
  background-color: #111111;
  width: 100%;
  height: 0.125rem;
  position: relative;
}
.projects .inner .project_nav .mb_filter .label .more_btn span:first-child {
  position: absolute;
  transform: rotate(90deg);
  transition: all 0.4s ease-in-out;
}
.projects .inner .project_nav .mb_filter .label .more_btn span.on:first-child {
  transform: rotate(0);
  opacity: 0;
}
.projects .inner .project_nav .mb_filter .option_list {
  display: none;
  background-color: #faf7f0;
  border: 1px solid #111111;
  border-radius: 0.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;
}
.projects .inner .project_nav .mb_filter .option_list .option_item {
  padding: 0.5rem 1.5rem;
}
.projects .inner .project_nav .mb_filter .option_list .option_item:hover {
  background-color: #e3dacd;
}
.projects .inner .project_nav .mb_filter .option_list.on {
  display: block;
}
.projects .inner .project_nav .filter {
  display: flex;
  gap: 0.625rem;
}
.projects .inner .project_nav .filter button {
  border: 1px solid #111111;
  border-radius: 0.25rem;
  color: #111111;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "SUIT", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01rem;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
}
.projects .inner .project_nav .filter button.active {
  color: #faf7f0;
  background-color: #111111;
}
.projects .inner .project_nav .view {
  display: flex;
  gap: 0.625rem;
}
.projects .inner .project_nav .view button {
  border: 1px solid #111111;
  border-radius: 0.25rem;
  color: #111111;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "SUIT", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01rem;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  padding: 0.625rem 1.5rem;
}
.projects .inner .project_nav .view button.active {
  color: #faf7f0;
  background-color: #111111;
}
.projects .inner .project_nav .view .album .circle_wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.25rem;
  width: 1rem;
  height: 1rem;
}
.projects .inner .project_nav .view .album .circle_wrap .circle {
  background-color: #faf7f0;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}
.projects .inner .project_nav .view .list .line_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1rem;
  height: 1rem;
}
.projects .inner .project_nav .view .list .line_wrap .line {
  background-color: #111111;
  width: 100%;
  height: 0.188rem;
}
.projects .inner .project_area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1.25rem;
  grid-row-gap: 3rem;
  margin-top: 2rem;
}
.projects .inner .project_area .project_item .img_wrap {
  display: block;
  position: relative;
  overflow: hidden;
  padding-bottom: 70%;
}
.projects .inner .project_area .project_item .img_wrap .item_img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  transition: transform 0.6s ease-in-out;
}
.projects .inner .project_area .project_item .img_wrap .item_img.on {
  filter: blur(0.125rem);
}
.projects .inner .project_area .project_item .img_wrap .img_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.projects .inner .project_area .project_item .img_wrap .img_hover .more_link {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  top: 1.25rem;
  left: 1.25rem;
}
.projects .inner .project_area .project_item .img_wrap .img_hover .more_link a {
  border: 1px solid #111111;
  border-radius: 0.25rem;
  color: #111111;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "SUIT", sans-serif;
  font-weight: 500;
  letter-spacing: -0.01rem;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  border: none;
  background-color: #faf7f0;
}
.projects .inner .project_area .project_item .img_wrap .img_hover .link {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem 1rem;
}
.projects .inner .project_area .project_item .img_wrap .img_hover .link img {
  transform: rotate(90deg);
  width: 1.5rem;
  height: 1.5rem;
}
.projects .inner .project_area .project_item .img_wrap .img_hover .link span {
  color: #faf7f0;
  font-size: 1.5rem;
  font-family: "SUIT", sans-serif;
  text-transform: uppercase;
}
.projects .inner .project_area .project_item .img_wrap:hover .item_img {
  transform: scale(1.05);
}
.projects .inner .project_area .project_item .img_wrap:hover .img_hover {
  opacity: 1;
}
.projects .inner .project_area .project_item .projects_title {
  font-family: "Hatton";
  font-size: 2rem;
  margin: 1.5rem 0 1rem 0;
  text-transform: capitalize;
}
.projects .inner .project_area .project_item span {
  font-family: "SUIT", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.projects .inner .project_area .project_item .projects_desc {
  color: #b5aea4;
  display: flex;
  margin-top: 1rem;
  font-size: 1rem;
}
.projects .inner .project_area .project_item .projects_desc .contribution {
  border-right: 1px solid #b5aea4;
  margin-right: 1rem;
  padding-right: 1rem;
}
.projects .inner .project_area .project_item .projects_desc .keyword:not(:last-child) {
  margin-right: 1rem;
}

.graphics {
  padding-bottom: 10rem;
}
.graphics .sw_graphic {
  height: 100%;
}
.graphics .sw_graphic .graphic_top {
  margin: 0 70px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.graphics .sw_graphic .graphic_top .title {
  font-size: 5rem;
  font-family: "NewYork", serif;
}
.graphics .sw_graphic .graphic_top .swiper_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
}
.graphics .sw_graphic .graphic_top .swiper_buttons .button {
  width: 5rem;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #111111;
  position: static;
}
.graphics .sw_graphic .graphic_top .swiper_buttons .button svg {
  transform: rotate(-90deg);
  width: 2rem;
  height: 2rem;
}
.graphics .sw_graphic .graphic_top .swiper_buttons .button svg path {
  fill: #111111;
}
.graphics .sw_graphic .graphic_top .swiper_buttons .swiper-button-prev {
  margin-right: 0.5rem;
}
.graphics .sw_graphic .graphic_top .swiper_buttons .swiper-button-prev svg {
  transform: scaleX(-1) rotate(90deg);
}
.graphics .sw_graphic .graphic_top .swiper_buttons .swiper-button-next svg {
  transform: rotate(90deg);
}
.graphics .sw_graphic .graphic_top .swiper_buttons .swiper-button-next::after,
.graphics .sw_graphic .graphic_top .swiper_buttons .swiper-button-prev::after {
  display: none;
}
.graphics .sw_graphic .swiper-wrapper .swiper-slide {
  position: relative;
  height: auto;
}
.graphics .sw_graphic .swiper-wrapper .swiper-slide[aria-label="1 / 7"], .graphics .sw_graphic .swiper-wrapper .swiper-slide[aria-label="6 / 7"], .graphics .sw_graphic .swiper-wrapper .swiper-slide[aria-label="7 / 7"] {
  width: 280px !important;
}
.graphics .sw_graphic .swiper-wrapper .swiper-slide[aria-label="2 / 7"], .graphics .sw_graphic .swiper-wrapper .swiper-slide[aria-label="4 / 7"] {
  width: 430px !important;
}
.graphics .sw_graphic .swiper-wrapper .swiper-slide[aria-label="3 / 7"], .graphics .sw_graphic .swiper-wrapper .swiper-slide[aria-label="5 / 7"] {
  width: 580px !important;
}
.graphics .sw_graphic .swiper-wrapper .swiper-slide img {
  height: 100%;
}
.graphics .sw_graphic .swiper-wrapper .swiper-slide .graphic {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.graphics .sw_graphic .swiper-wrapper .swiper-slide .graphic .desc_area {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background-color: rgba(17, 17, 17, 0.7);
}
.graphics .sw_graphic .swiper-wrapper .swiper-slide .graphic .desc_area:hover {
  opacity: 1;
}
.graphics .sw_graphic .swiper-wrapper .swiper-slide .graphic .desc_area span {
  font-size: 1.125rem;
  font-family: "SUIT", sans-serif;
  color: #faf7f0;
}
.graphics .sw_graphic .swiper-wrapper .swiper-slide .img_group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}
.graphics .sw_graphic .swiper-wrapper .swiper-slide .img_group .graphic:nth-child(1) {
  grid-column: 1/3;
}

.goal {
  position: relative;
  background-color: #e0f3cd;
  width: 100%;
  height: 67.5rem;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-gap: clamp(2rem, 8vw, 10rem);
  align-items: center;
  padding: 14rem 10rem 10rem 0;
}
.goal::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background: url(../img/tree.svg) no-repeat;
  background-position: center;
  background-size: cover;
}
.goal .cation_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #5186ee;
  display: flex;
  justify-content: center;
  background-color: #e3dacd;
}
.goal .cation_wrapper .caption_inner {
  background-color: #5186ee;
  width: 50%;
  border-radius: 80px;
  transform: translateY(-35%);
  padding: 2rem 0;
}
.goal .cation_wrapper .caption_inner p {
  text-align: center;
  transform: translateY(-50%);
  color: #faf7f0;
  line-height: 0;
}
.goal .cation_wrapper .caption_inner {
  background-color: #e3dacd;
}
.goal .cation_wrapper .caption_inner p {
  color: #111111;
}
.goal .img_area {
  width: 100%;
  height: -webkit-fill-available;
  background: url(../img/goal_mine.jpg) no-repeat center;
  background-size: cover;
}
.goal .img_area img {
  width: 100%;
}
.goal .text_area {
  width: 38rem;
  justify-self: center;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.goal .text_area .goal_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goal .text_area .goal_title > * {
  margin-top: -2rem;
}
.goal .text_area .goal_title p {
  font-size: clamp(6rem, 9vw, 8rem);
  font-family: "NewYork", serif;
}
.goal .text_area .goal_title .what {
  align-self: baseline;
  padding-left: 3rem;
}
.goal .text_area .goal_title .can {
  align-self: flex-end;
  padding-right: 5.3rem;
}
.goal .text_area .goal_title .bloom_wrap {
  align-self: baseline;
}
.goal .text_area .goal_title .bloom_wrap img {
  margin: -0.5rem -2rem;
}
.goal .text_area .goal_title .next_wrap {
  align-self: stretch;
  justify-content: space-between;
  display: flex;
}
.goal .text_area .goal_title .next_wrap img {
  margin-top: 1.75rem;
}
.goal .text_area .desc_area {
  position: relative;
  margin-top: 2rem;
  padding-top: 2rem;
}
.goal .text_area .desc_area::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  border-top: 1px solid #5186ee;
  width: 40%;
}
.goal .text_area .desc_area span {
  font-family: "SUIT", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.02rem;
}

footer {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: auto 18.75rem 5rem;
  background-color: #5186ee;
}
footer::after {
  content: "";
  position: absolute;
  border: 1px solid #faf7f0;
  margin: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
footer .footer_top {
  margin: auto 70px 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_top p {
  font-family: "Seawave", serif;
  color: #faf7f0;
  font-size: 14vw;
}
footer .footer_top p .text_accent {
  color: #e0f3cd;
}
footer .footer_top .go_top {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid #faf7f0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer_link {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  align-items: center;
  margin: 0 1rem;
  border-top: 1px solid #faf7f0;
}
footer .footer_link div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
footer .footer_link div:not(:last-child) {
  border-right: 1px solid #faf7f0;
}
footer .footer_link .text_box h3 a {
  font-family: "Hatton";
  color: #faf7f0;
  font-size: 3vw;
}
footer .bottom_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
  margin: 0 1rem;
  border-top: 1px solid #faf7f0;
}
footer .bottom_area span {
  font-family: "SUIT", sans-serif;
  font-size: 1rem;
  color: #faf7f0;
}/*# sourceMappingURL=style.css.map */