footer {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 8fr 3fr 1fr;
  background-color: $primary-color;
  padding: 1rem;
  transition: all 0.3s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    border: 1px solid $background-color;
    margin: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // z-index: -1;
  }
  .footer_top {
    // margin: auto set-margin-width(large) $margin-height-large;
    margin: auto 3.75rem 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: margin 0.3s ease-in-out;

    p {
      font-family: $title-font;
      color: $background-color;
      font-size: 14vw;

      .text_accent {
        transition: color 0.3s ease-in-out;
        color: $secondary-color;
      }
    }

    .go_top {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 1px solid $background-color;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  div {
    z-index: 1;
  }
  .footer_link {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    align-items: center;
    border-top: 1px solid $background-color;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
      position: relative;
      overflow: hidden;

      a {
        z-index: 2;
        .link_item {
          path {
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
            fill: white;
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        // z-index: -1;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        right: 0;
        background: $secondary-color;
      }

      &:hover,
      &:active {
        &::after {
          height: 100%;
        }
        .link_item {
          color: $primary-color;
          path {
            fill: $primary-color;
          }
        }
      }

      &:not(:last-child) {
        border-right: 1px solid $background-color;
      }

      &.text_box {
        a {
          font-family: "Hatton";
          color: $background-color;
          font-size: 3vw;
        }
      }
    }
  }
  .bottom_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: set-margin-width(small) 3.75rem;
    border-top: 1px solid $background-color;

    span {
      font-family: $body-font;
      font-size: set-text-size(medium);
      color: $background-color;

      &:last-child {
        text-align: right;
      }
    }
  }
}

@include tablet {
  footer {
    .footer_top {
      margin: auto set-margin-width(medium) 10vh;

      .go_top {
        width: 4rem;
        height: 4rem;
      }
    }
    .footer_link {
      div {
        padding: set-margin-width(medium);

        svg {
          width: 3rem;
          height: 3rem;
        }
      }
    }
    .bottom_area {
      padding: 1.5rem 2.125rem;
      span {
        font-size: set-text-size(tiny);
      }
    }
  }
}

@include mobile {
  footer {
    padding: 0.625rem;
    grid-template-rows: 10fr 4fr 1fr;
    .footer_top {
      margin: auto;
      flex-direction: column;

      p {
        font-size: 18vw;
      }

      .go_top {
        width: 3rem;
        height: 3rem;
        order: -1;
        margin-bottom: 1rem;

        img {
          width: 1rem;
        }
      }
    }

    &::after {
      margin: 0.65rem;
    }

    .footer_link {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);

      div {
        svg {
          width: 2rem;
          height: 2rem;
        }

        &.text_box {
          grid-column: 1/4;
          border-bottom: 1px solid #faf7f0;

          a {
            font-size: clamp(1rem, 4vw, 2rem);
            text-align: center;
          }
        }
      }
    }
    .bottom_area {
      padding: 1.5rem 1.125rem;

      span {
        font-size: set-text-size(tiny);
      }

      @media (max-width: 550px) {
        flex-direction: column;

        span {
          text-align: center;
        }
      }
    }
  }
}
