footer {
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: 6fr 3fr 1fr;
  background-color: $primary-color;
  padding: 1rem;

  &::after {
    content: "";
    position: absolute;
    border: 1px solid $background-color;
    margin: 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // z-index: -1;
  }
  .footer_top {
    // margin: auto set-margin-width(large) $margin-height-large;
    margin: auto 3.75rem 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-family: $title-font;
      color: $background-color;
      font-size: 14vw;

      .text_accent {
        color: $secondary-color;
      }
    }

    .go_top {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 1px solid $background-color;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  div {
    z-index: 1;
  }
  .footer_link {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    align-items: center;
    border-top: 1px solid $background-color;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      transition: all 0.4s;
      position: relative;
      overflow: hidden;

      a,
      path {
        z-index: 2;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
      }

      &::after {
        content: "";
        position: absolute;
        // z-index: -1;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        right: 0;
        background: $secondary-color;
      }

      &:hover,
      &:active {
        &::after {
          height: 100%;
        }
        .link_item {
          color: $primary-color;
          path {
            fill: $primary-color;
          }
        }
      }

      &:not(:last-child) {
        border-right: 1px solid $background-color;
      }
    }

    .text_box {
      a {
        font-family: "Hatton";
        color: $background-color;
        font-size: 3vw;
      }
    }
  }
  .bottom_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $margin-width-small 3.75rem;
    border-top: 1px solid $background-color;

    span {
      font-family: $body-font;
      font-size: set-text-size(medium);
      color: $background-color;
    }
  }
}