.goal {
  position: relative;
  background-color: $secondary-color;
  width: 100%;
  // height: 67.5rem;
  height: auto;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-gap: clamp(2rem, 8vw, 10rem);
  align-items: center;
  padding: (set-margin-height(large) + 4rem) set-margin-height(large)
    set-margin-height(large) 0;
  transition: all 0.3s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(../img/tree.svg) no-repeat right center;
    opacity: 0.5;
  }

  > * {
    z-index: 1;
  }

  .cation_wrapper {
    @include caption-design;
    background-color: $beige-200-color;
    .caption_inner {
      background-color: $beige-200-color;
      p {
        color: $black-color;
      }
    }
  }

  .img_area {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: relative;
    background-color: $secondary-color;

    div,
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;

      &.goal_mine {
        background: url(../img/goal_mine.jpg) no-repeat center center;
        background-size: cover;
        mix-blend-mode: multiply;
      }
      &.goal_frame {
        opacity: 0;
        path {
          transition: fill 0.3s ease-in-out;
          fill: $sub-color;
        }
      }
    }
    &:hover {
      .goal_frame {
        opacity: 1;
      }
    }
  }

  .text_area {
    width: clamp(29rem, 31vw, 38rem);
    justify-self: center;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .goal_title {
      display: flex;
      flex-direction: column;
      align-items: center;

      > * {
        margin-top: -2rem;
        width: 100%;
      }

      p {
        font-size: clamp(6.5rem, 6.6vw, set-title-size(large));
        font-family: $title-accent-font;
        transition: 0.3s ease-in-out;
      }
      .what {
        align-self: baseline;
        padding-left: 3rem;
      }

      .can {
        text-align: right;
        align-self: flex-end;
        padding-right: 5.3rem;
      }
      .bloom_wrap {
        align-self: baseline;

        svg {
          margin: -1rem -1.25rem;
          width: 5rem;
          path {
            fill: $primary-color;
          }
        }
      }

      .next_wrap {
        align-self: center;
        justify-content: space-between;
        display: flex;
        gap: 10%;

        svg {
          align-self: center;
          margin-top: 1.75rem;
          width: clamp(10rem, 12vw, 12.5rem);
          path {
            transition: fill 0.3s ease-in-out;
            fill: $primary-color;
          }
        }

        p {
          white-space: nowrap;
        }
      }
    }

    .desc_area {
      position: relative;
      display: inherit;
      margin-top: 8rem;
      padding-top: 2rem;
      transition: margin-top 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        border-top: 1px solid $primary-color;
        transition: border-top 0.3s ease-in-out;
        width: 40%;
      }

      span {
        font-family: $body-font;
        font-size: set-text-size(large);
        line-height: $line-height;
        letter-spacing: -0.02rem;
        text-align: justify;
      }
    }
  }
}

@include tablet {
  .goal {
    grid-gap: clamp(2rem, 8vw, 5rem);
    padding: (set-margin-height(large) + 4rem) set-margin-height(large)
      set-margin-height(large) 0;

    .text_area {
      width: clamp(22.75rem, 40vw, 27rem);

      .goal_title {
        > * {
          margin-top: -1.75rem;
        }
        p {
          font-size: clamp(4.5rem, 8vw, set-title-size(medium));
        }
        .what {
          padding-left: 2.25rem;
        }
        .can {
          padding-right: 3rem;
        }
        .bloom_wrap {
          svg {
            margin: -1.5rem -1.25rem;
            width: 4rem;
          }
        }
        .next_wrap {
          svg {
            width: 8.25rem;
            margin-top: 1.25rem;
          }
        }
      }
      .desc_area {
        margin-top: 4rem;
      }
    }
  }
}

@include mobile {
  .goal {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    padding: set-margin-height(small) set-margin-width(small);
    grid-gap: 4rem;

    .img_area {
      svg {
        &.goal_frame {
          opacity: 1;
        }
      }
    }
    .text_area {
      order: -1;
      justify-self: auto;
      width: 100%;
      max-width: 708px;
      min-width: 100%;
      // width: clamp(100%, 100%, 708px);

      .goal_title {
        width: clamp(60%, 68.75vw, 25rem);
        > * {
          margin-top: -1rem;
        }
        p {
          font-size: clamp(4rem, 14vw, set-title-size(medium));
        }
        .what {
          padding-left: 10%;
        }
        .can {
          padding-right: 23%;
        }
        .bloom_wrap {
          svg {
            margin: -1.5rem -1rem;
            width: clamp(3rem, 20%, 4.5rem);
          }
        }
        .next_wrap {
          svg {
            margin-top: 1.125rem;
          }
        }
      }
      .desc_area {
        margin-top: 4rem;

        span {
          font-size: set-text-size(medium);
        }
      }
    }
  }
}
