.intro {
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .cation_wrapper {
    @include caption-design;
  }

  .intro_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6vh;

    h3 {
      font-size: $small-title-font-size;
      color: $background-color;
    }

    .img_area {
      position: relative;
      width: -webkit-fill-available;
      height: 22rem;
      // padding-bottom: 30%;
      background: url(../img/intro_glasses.jpg) no-repeat center center;
      overflow: hidden;

      img {
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        // top: 50%;
        // transform: translate(-50%, -50%);
        // transition: opacity 0.3s ease-in-out;
      }
    }

    .desc_area {
      color: $background-color;
      font-size: $body-font-size;
      font-family: $body-font;

      p {
        &:first-child {
          margin-bottom: 1rem;
        }
      }
    }
  }
}