.projects {
  position: relative;
  margin-top: 4rem;
  border-top: 1px solid $primary-color;
  transition: all 0.3s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid $primary-color;
    top: -1rem;
    left: 0;
    right: 0;
  }
  .inner {
    padding: set-margin-height(large) 0;
    transition: padding 0.3s ease-in-out;

    .title {
      font-size: set-title-size(large);
      font-family: $title-accent-font;
      margin-bottom: 6rem;
      transition: all 0.3s;
    }
    .project_nav {
      width: 100%;
      display: inline-flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      row-gap: 1rem;

      // 모바일 필터 버튼 시작
      .mb_filter {
        display: none;
        width: 60%;
        height: 100%;
        position: relative;

        .label {
          @include button-design;
          width: 100%;
          justify-content: space-between;

          h3 {
            font-size: set-text-size(large);
            font-family: $body-font;
          }

          .more_btn {
            width: 1rem;
            height: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            span {
              display: block;
              background-color: $black-color;
              width: 100%;
              height: 0.125rem;
              position: relative;

              &:first-child {
                position: absolute;
                transform: rotate(90deg);
                transition: all 0.4s ease-in-out;
                // opacity: 1;
              }

              &.on:first-child {
                transform: rotate(0);
                opacity: 0;
              }
            }
          }
        }
        .option_list {
          display: none;
          position: absolute;
          left: 0;
          right: 0;
          z-index: 210;
          background-color: $background-color;
          border: 1px solid $black-color;
          border-radius: 0.25rem;
          margin-top: 1rem;
          cursor: pointer;

          .option_item {
            transition: background-color 0.15s ease-in-out;
            padding: 0.5rem 1.5rem;
            font-family: $body-font;
            &:hover {
              background-color: $beige-200-color;
            }
          }

          &.on {
            display: block;
          }
        }
      }
      // 모바일 필터 버튼 끝

      .filter {
        // display: none;
        display: flex;
        gap: 0.625rem;
        button {
          @include button-design;

          &.active,
          &:hover {
            color: $background-color;
            background-color: $black-color;
          }
        }
      }

      .view {
        display: flex;
        gap: 0.625rem;
        button {
          @include button-design;
          padding: 0.625rem 1.5rem;
        }
        .album {
          .circle_wrap {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: 0.25rem;
            width: 1rem;
            height: 1rem;

            .circle {
              background-color: $black-color;
              width: 0.375rem;
              height: 0.375rem;
              border-radius: 50%;
            }
          }

          &.active,
          &:hover {
            background-color: $black-color;
            .circle {
              background-color: $background-color;
            }
          }
        }

        .list {
          .line_wrap {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 1rem;
            height: 1rem;

            .line {
              background-color: $black-color;
              width: 100%;
              height: 0.188rem;
            }
          }
          &.active,
          &:hover {
            background-color: $black-color;
            .line {
              background-color: $background-color;
            }
          }
        }
      }
    }

    .project_area {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1.25rem;
      grid-row-gap: 3rem;
      margin-top: 2rem;
      transition: opacity 0.25s ease-in-out;

      .project_item {
        display: flex;
        flex-direction: column;

        .img_wrap {
          display: block;
          position: relative;
          overflow: hidden;
          padding-bottom: 70%;
          min-height: 200px;

          .item_img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            vertical-align: top;
            transition: transform 0.6s ease-in-out;

            &.on {
              filter: blur(0.125rem);
            }
          }

          .img_hover {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba($color: $black-color, $alpha: 0.7);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;
            opacity: 0;

            .more_link {
              position: absolute;
              display: flex;
              align-items: center;
              gap: 0.625rem;
              top: 1.25rem;
              left: 1.25rem;

              a {
                @include button-design;
                border: none;
                background-color: $background-color;
                transition: opacity 0.3s ease-in-out;

                &:hover {
                  opacity: 0.9;
                }
              }
            }
            .link {
              display: flex;
              align-items: center;
              gap: 0.75rem;
              margin: 0.5rem 1rem;
              overflow: hidden;

              span {
                color: $background-color;
                font-size: 1.5rem;
                font-family: $body-font;
                text-transform: uppercase;
                transition: all 0.3s ease-in-out;
              }
              .arrow {
                transform: rotate(90deg);
                width: 1.5rem;
                height: 1.5rem;
                transition: all 0.3s ease-in-out;

                &.arrow-1 {
                  opacity: 0;
                  width: 0;
                }
              }

              &:hover {
                .arrow {
                  &.arrow-1 {
                    opacity: 1;
                    width: 1.5rem;
                  }
                  &.arrow-2 {
                    opacity: 0;
                    width: 0;
                  }
                }
              }
            }
          }

          &:hover {
            .item_img {
              transform: scale(1.1) rotate(1deg);
            }
            .img_hover {
              opacity: 1;
            }
          }
        }
        .projects_title {
          font-family: "Hatton";
          font-size: 2rem;
          margin: 1.5rem 0 1rem 0;
          text-transform: capitalize;
          color: $black-color;
          word-break: break-word;
        }
        span {
          font-family: $body-font;
          font-size: set-text-size(medium);
          line-height: $line-height;
          word-break: break-all;
          text-align: justify;
        }
        .projects_desc {
          color: $beige-500-color;
          display: flex;
          margin-top: 1rem;
          flex-wrap: wrap;
          span {
            font-size: set-text-size(medium);
          }
          .contribution {
            padding-right: 1rem;
            white-space: nowrap;
          }

          .keyword:not(:last-child) {
            margin-right: 1rem;
          }
        }
        .list_more_link {
          display: none;
          align-items: center;
          gap: 0.625rem;
          flex-wrap: wrap;
          a {
            @include button-design;
            flex-grow: 1;

            &:hover {
              background-color: $black-color;
              color: $background-color;
            }
          }
        }
        .list_link {
          display: none;
          position: relative;
          width: fit-content;
          height: 2rem;
          cursor: pointer;
          overflow: hidden;

          &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: url("../img/link_arrow.svg") no-repeat center;
            background-size: contain;
            transform: translateX(-200%);
            opacity: 0;
            transition: all 0.3s ease-out;
          }

          img {
            transform: translateX(0);
            transition: all 0.3s ease-out;
          }

          &:hover {
            &::after {
              transform: translateX(0);
              opacity: 1;
            }
            img {
              transform: translateX(150%);
              opacity: 0;
            }
          }
        }
      }

      /* 리스트형 */
      &.list {
        grid-template-columns: auto;
        grid-row-gap: 0;

        .project_item {
          display: grid;
          grid-template-columns: 16% 50% 15% 5%;
          align-items: center;
          justify-content: space-between;
          padding: 2.25rem 0.25rem;
          border-bottom: 1px solid $black-color;
          grid-row-gap: 0;
          // grid-gap: 8rem;

          .img_wrap {
            display: none;
          }
          .projects_title {
            flex-grow: 1;
            margin: 0;
          }
          span {
            flex-grow: 2;
          }
          .projects_desc {
            display: none;
          }
          .list_more_link {
            display: inline-flex;
          }
          .list_link {
            display: flex;
            justify-self: end;
            align-self: center;
          }
        }
      }
      /* // 리스트형 */

      &.fade-out {
        opacity: 0;
      }
    }
  }
}

@include tablet {
  .projects {
    margin-top: 2rem;
    &::before {
      top: 0.5rem;
    }

    .inner {
      .title {
        font-size: set-title-size(medium);
        margin-bottom: 5rem;
      }
      .project_area {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;

        .project_item {
          .img_wrap {
            .img_hover {
              .more_link {
                top: 1rem;
                left: 1rem;
              }
              .link {
                span {
                  font-size: set-text-size(large);
                }
                .arrow {
                  width: 1.25rem;
                  height: 1.25rem;
                }
              }
            }
          }
          .projects_title {
            font-size: 1.75rem;
          }
          .projects_desc {
            span {
              font-size: 0.875rem;
            }
          }
        }
        /* 리스트형 */
        &.list {
          .project_item {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto repeat(2, 1fr);
            grid-row-gap: 1rem;

            &:first-child {
              border-top: 1px solid $black-color;
            }
            .projects_title,
            span {
              grid-column: 1 / 4;
            }
            .list_link {
              width: 4.5rem;
              height: 1.5rem;
              grid-column: 2 / 4;
            }
          }
        }
        /* // 리스트형 */
      }
    }
  }
}

@include mobile {
  .projects {
    margin-top: 2rem;
    &::before {
      top: 0.5rem;
    }
    .inner {
      padding: set-margin-height(small) 0;

      .title {
        font-size: clamp(3.5rem, 10.5vw, set-title-size(medium));
        margin-bottom: 4rem;
      }
      .project_nav {
        row-gap: 0.625rem;
        .mb_filter {
          display: block;

          @media (max-width: 440px) {
            width: 100%;
          }

          .option_list {
            margin-top: 0.625rem;
          }
        }
        .filter {
          display: none;
        }
        .view {
          button {
            height: 41px;
          }
          @media (max-width: 440px) {
            // width: 100%;
            button {
              width: inherit;
            }
          }
        }
      }
      .project_area {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 0;
        .project_item {
          padding: 2rem 0.25rem;
          .img_wrap {
            padding-bottom: 60%;
            .img_hover {
              .more_link {
                display: none;
              }
              .link {
                span {
                  font-size: set-text-size(medium);
                }
                .arrow {
                  display: none;
                }
              }
            }
          }
          .projects_title {
            font-size: 1.5rem;
          }
          .projects_desc {
            margin: 1rem 0;
            span {
              font-size: 14px;
            }
          }
          .list_more_link {
            display: flex;
          }
        }
        /* 리스트형 */
        &.list {
          .project_item {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto 1fr auto;
            grid-row-gap: 1rem;

            &:first-child {
              border-top: 1px solid $black-color;
            }
            .projects_title,
            span {
              grid-column: 1 / 4;
            }
            .list_more_link {
              grid-column: 1 / 4;
              flex-wrap: nowrap;
            }
            .list_link {
              display: none;
            }
          }
        }
        /* // 리스트형 */
      }
    }
  }
}
