.visual {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  .visual_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3vw;

    span {
      font-family: $title-font;
      font-size: clamp(7rem, 9vw, 11rem);
    }
    .garden_wrap {
      display: flex;
      margin-top: -4%;
      position: relative;
      align-items: center;

      .flower {
        width: clamp(4rem, 8vw, 5.5rem);
        margin-top: 5%;
        
        path {
          fill: $primary-color;
          transition: fill 0.3s ease-in-out;
        }
      }

      .rounded_arrow {
        position: absolute;
        bottom: 4%;
        right: 35%;
        width: 4rem;
        transition: width 0.6s ease;
      }
    }
    .desc_wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: -3%;

      .of {
        position: relative;

        img {
          position: absolute;
          top: 10%;
          left: 5%;
          transform: scale(1.5);
        }
      }

      .desc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 3rem;
        transition: margin-left 0.6s ease;

        .desc_bracket {
          font-family: $body-font;
          font-size: clamp(5rem, 5vw, 6rem);
          color: $beige-700-color;
          font-weight: 200;
          transition: font-size 0.6s ease;
        }
        .desc_text {
          font-family: $body-font;
          font-size: set-text-size(medium);
          line-height: $line-height;
          text-align: center;
          margin: 0 1rem;
        }
      }
    }
    .name_wrap {
      margin-top: -5%;
      position: relative;
      .name {
        color: $primary-color;
      }
      .rounded_arrow {
        position: absolute;
        transform: scaleY(-1);
        right: 10%;
        top: 18%;
        width: 4rem;
        transition: width 0.6s ease;
      }
    }
  }
  .tag {
    position: absolute;
    bottom: set-margin-width(large);
    left: set-margin-width(large);
    color: $primary-color;
    display: inline-flex;
    align-items: flex-start;
    gap: 2rem;
    transition: all 0.3s ease-in-out;

    span {
      font-family: $body-font;
      font-size: set-text-size(tiny);
      text-transform: capitalize;
      transition: font-size 0.3s ease-in-out;
    }
  }

  .scroll {
    position: absolute;
    bottom: set-margin-width(large);
    right: set-margin-width(large);
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;
    transition: all 0.3s ease-in-out;

    .rounded_shape {
      position: relative;
      width: 4rem;
      height: 4rem;

      .rounded_text {
        @include rotate-to-right;
      }
      .scroll_flower {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  .para_wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;

    .para_group {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .deco {
        position: absolute;
        transition: all 0.6s ease-out;
        width: 25rem;

        &-1 {
          top: -10%;
          left: 15%;
          transform: translateY(0);
          path {
            fill: $sub-color;
            transition: fill 0.3s ease-in-out;
          }
        }
        &-2 {
          bottom: -15%;
          right: 15%;
          transform: translateY(0);
          
          path {
            fill: $secondary-color;
            transition: fill 0.3s ease-in-out;
          }
        }
      }
    }
  }
  .frame {
    border: 1px solid $primary-color;
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: -1;
    transition: all 0.3s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      border: 1px solid $primary-color;
      margin: 0.5rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.3s ease-in-out;
    }
  }
}

@include tablet {
  .visual {
    .visual_title {
      span {
        font-size: clamp(5.5rem, 10vw, 6.5rem);
      }
      .garden_wrap {
        .rounded_arrow {
          width: 2.5rem;
        }
      }
      .desc_wrap {
        .desc {
          margin-left: 1.5rem;
          .desc_bracket {
            font-size: 3.5rem;
          }
          .desc_text {
            font-size: set-text-size(tiny);
          }
        }
      }
      .name_wrap {
        .rounded_arrow {
          width: 2.5rem;
        }
      }
    }
    .tag {
      bottom: set-margin-width(medium);
      left: set-margin-width(medium);
    }
    .scroll {
      bottom: set-margin-width(medium);
      right: set-margin-width(medium);
    }
    .frame {
      &::before {
        margin: 0.375rem;
      }
    }
  }
}
@include mobile {
  .visual {
    .visual_title {
      span {
        font-size: clamp(3.5rem, 12.5vw, 6rem);
      }
      .garden_wrap {
        .flower {
          width: clamp(2.75rem, 7vw, 3.25rem);
        }
        .rounded_arrow {
          display: none;
        }
      }
      .desc_wrap {
        margin-top: -5%;
        .of {
          img {
            display: none;
          }
        }
        .desc {
          display: none;
        }
      }
      .name_wrap {
        margin-top: -2%;
        .rounded_arrow {
          display: none;
        }
      }
    }
    .tag {
      justify-content: center;
      bottom: set-margin-width(medium);
      left: 0;
      right: 0;

      span {
        font-size: set-text-size(medium);
      }
    }
    .scroll {
      display: none;
    }
    .frame {
      top: 0.65rem;
      bottom: 0.65rem;
      left: 0.65rem;
      right: 0.65rem;
      &::before {
        opacity: 0;
      }
    }
  }
}
