.visual {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .visual_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      font-family: $title-font;
      font-size: clamp(7rem, $title-font-size, 11rem);
    }
    .garden_wrap {
      display: flex;
      margin-top: -4%;
      position: relative;

      .flower {
        width: clamp(4rem, 8vw, 5.5rem);
        margin-top: 5%;
      }

      .rounded_arrow {
        position: absolute;
        bottom: 4%;
        right: 35%;
        width: 4rem;
      }
    }
    .desc_wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: -3%;

      .of {
        position: relative;

        img {
          position: absolute;
          top: 10%;
          left: 5%;
          transform: scale(1.5);
        }
      }

      .desc {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 3rem;

        .desc_bracket {
          font-family: $body-font;
          font-size: clamp(5rem, 5vw, 6rem);
          color: $beige-700-color;
          font-weight: 200;
        }
        .desc_text {
          font-family: $body-font;
          font-size: $small-body-font-size;
          line-height: $line-height;
          text-align: center;
          margin: 0 1rem;
        }
      }
    }
    .name_wrap {
      margin-top: -5%;
      position: relative;
      .name {
        color: $primary-color;
      }
      img {
        position: absolute;
        transform: scaleY(-1);
        right: 10%;
        top: 18%;
        width: 4rem;
      }
    }
  }
  .tag {
    position: absolute;
    bottom: $margin-width-large;
    left: $margin-width-large;
    color: $primary-color;
    display: inline-flex;
    align-items: flex-start;
    gap: 2rem;

    span {
      font-family: $body-font;
      font-size: $tag-font-size;
      text-transform: capitalize;
    }
  }

  .scroll {
    position: absolute;
    bottom: $margin-width-large;
    right: $margin-width-large;
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;

    .rounded_shape {
      position: relative;
      width: 4rem;
      height: 4rem;

      .rounded_text {
        animation: infinite_rotate 10s linear infinite;
        transform-origin: 50% 50%;

        @keyframes infinite_rotate {
          100% {
            transform: rotate(360deg);
          }
        }
      }
      .scroll_flower {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
  .para_wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;

    .para_group {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .deco {
        position: absolute;
        transition: transform 0.6s ease-out;

        &-1 {
          top: -10%;
          left: 15%;
          transform: translateY(0);
        }
        &-2 {
          bottom: -10%;
          right: 15%;
          transform: translateY(0);
        }
      }
    }
  }
  .frame {
    border: 1px solid $primary-color;
    position: absolute;
    top: 1rem;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      border: 1px solid $primary-color;
      margin: 0.5rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}