/* suit */

@font-face {
  font-family: "SUIT";
  font-weight: 200;
  src: url("./SUIT-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "SUIT";
  font-weight: 400;
  src: url("./SUIT-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 500;
  src: url("./SUIT-Medium.woff2") format("woff2");
}


/* seawave (logo / only eng) */
@font-face {
  font-family: "Seawave";
  src: url(../fonts/NT-SEAWAVE-alternative.woff) format("woff");
}

/* new york (title / only eng) */
@font-face {
  font-family: "NewYork";
  src: url(../fonts/NewYork-PERSONAL-USE.woff) format("woff");
}

/* hatton (body /only eng) */
@font-face {
  font-family: "Hatton";
  src: url(../fonts/PP-Hatton-Medium-500.woff) format("woff");
}
